{% extends 'main.html' %}

{% block list %}
<li class="crumb"><a href="/">About</a></li>
<li class="crumb">Homelab</li>
<li class="crumb"><a href="/portfolio">Portfolio</a></li>
<li class="crumb"><a href="/photography">Photography</a></li>
{% endblock %}

{% block body %}

<figure class="homelab">
    <img src="../static/media/images/homelab.webp" alt="My homelab rack"  title="My homelab rack" class="homelab">
    <figcaption class="homelab">My homelab rack</figcaption>
</figure>

<h2 class="heading">
    My Homelab
</h2>

<h3 class="heading">
    The Hardware
</h3>

<ul class="homelab">
    <li>HP ProCurve 1810G-24</li>
    <li>Dell PowerEdge R620 with 384GB ECC RAM and two Intel Xeon E5-2650 v2</li>
    <li>HP ProLiant DL380p G8 with 128GB ECC RAM and two Intel Xeon E5-2670</li>
    <li>HP EliteDesk 800 G3 Mini with 8GB RAM and an Intel Core i3-7100</li>
    <li>Lenovo ThinkCentre M710s with 64GB RAM and an Intel Core i7-7700</li>
</ul>

<h3 class="heading">
    The Software
</h3>

<p>
   My Thinkcentre is currently responsible for running most things I host. That would include Pi-Hole with Unbound for DNS, Bitwarden,
   Nextcloud, Immich, Jellyfin with hardware transcoding, and a Factiorio and Minecraft server.
   Public access to some of these services is enabled via an Nginx proxy and a Wireguard VPN connected to my VPS. 
   Aside from that, it's sporting two 1TB hard drives in a mirrored ZFS pool for backups and other NAS shenanigans.
   And last but not least, I have a Debian VM responsible for hosting a CUPS print server to share my old Brother HL-2030 USB printer with the rest of my LAN.
   Although my DL380p was previously in a Proxmox Cluster with my Thinkcentre, it's been retired for now, since I currently don't have a use for it at the moment.<br>
   <br>
   For backups of my Proxmox containers and VMs, I'm running Proxmox Backup Server on my HP EliteDesk.
   <br>
   As for the Poweredge R620, it's running TrueNAS SCALE bare metal with three 4TB hard drives in a RAID-Z pool, which is mostly just for hosting my Jellyfin media.<br>
</p>
{% endblock %}
