{% extends 'main.html' %}

{% block list %}
<li class="crumb">About</li>
<li class="crumb"><a href="/homelab">Homelab</a></li>
<li class="crumb"><a href="/portfolio">Portfolio</a></li>
<li class="crumb"><a href="/photography">Photography</a></li>
{% endblock %}

{% block body %}
<div class="container">
    <figure class="portrait">
        <img src="../static/media/images/pfp.webp" alt="me irl"  title="me irl" class="portrait">
        <figcaption class="portrait">This is me sitting by the Oker</figcaption>
    </figure>

    <div class="contact">
        <h3 class="contact">Contact</h3>

        <ul class="contact">
            <li>&#128236 <a href="mailto:vincent@reutiman.one">vincent@reutiman.one</a></li>
            <li><img src="../static/media/images/matrixwhite.webp"> <a href="https://matrix.to/#/@not_ham:matrix.sw1tchbl4d3.com">@not_ham</a></li>
        </ul>
    </div>
    <div class="contact">
        <h3 class="contact">Links</h3>
        <ul class="contact">
            <li><img src="../static/media/images/kuma.svg" width="16" height="16"> <a href="https://status.reutiman.one">Uptime Kuma</a></li>
            <li><img src="../static/media/images/git.webp"> <a href="https://github.com/vxnxnt">github.com/vxnxnt</a></li>
        </ul>
    </div>
    <div class="badge">
	    <img src="../static/media/logos/button-l.png" alt="powered by debian" class="badge">
	    <img src="../static/media/logos/python-powered-w-100x40.png" alt="powered by python" class="badge">
    </div>
</div>

<h2 class="portrait">
    About the Host and the Hosted
</h2>

<p>
    Hello there, curious traveler, and welcome to my personal website. I'm a {{ age }} year old Computer Engineering student at the TU Braunschweig. I built this website from scratch,
    mostly to use as a Blog, Portfolio, and really anything else that sounds useful or fun.<br>As for my name, you can simply call me Vincent for now.
    And if you're interested in my technical abilities then feel free to navigate towards the portfolio page.<br>
    <br>
    In my free time I enjoy working on IT projects, such as this very website. But I also like reading, playing video games, or being outside and enjoying nature while hiking or canoeing, for example.
    When I find enough free time, I might even end up writing a few blog entries from time to time. Although my studies are already keeping me plenty busy as it is.<br>
    <br>
    If you want to glance at the uptime (or downtime (hopefully not)) of any of my services, you can head over to <a href="https://status.reutiman.one">status.reutiman.one</a>.
    The services shown there are only the ones that are currently publicly reachable. Private ones, such as my DNS server or Stirling-PDF, aren't listed.<br>
    <br>
    If you want to contact me, you can just shoot me an <a href="mailto:vincent@reutiman.one">Email</a> or send me a message via <a  href="https://matrix.to/#/@not_ham:matrix.sw1tchbl4d3.com">Matrix</a>.
    I should usually manage to respond within a few hours if I'm not too busy.
    While you're at it, feel free to check out my <a href="https://github.com/vxnxnt">Github profile</a> and see my horrible code for yourself ;)
    <br><br>
    Disclaimer: this website was not optimized for mobile. Browse at your own risk.
</p>
<br>
{% endblock %}
