{% extends 'main.html' %}

{% block list %}
<li class="crumb"><a href="/">About</a></li>
<li class="crumb"><a href="/homelab">Homelab</a></li>
<li class="crumb"><a href="/portfolio">Portfolio</a></li>
<li class="crumb">Photography</li>
{% endblock %}

{% block body %}
<h2 class="heading">
    Photography
</h2>

<p>
  This is an active Work in Progress, more photos and a better design are on the way...<br>
  I'm also currently in the process of rescanning all my film and adjusting the color balance, contrast and saturation on all pictures.<br><br>
  As for my analog gear, I'm using a Canon EOS 300 and Edixa Reflex B-V with the Edixagon f/2 50mm, Pentacon f/2.8 135mm and Tokina f/5.6 300mm lenses.
  Although they're currently broken, I also have a Praktica Nova B and Nikon L35AD2 I'm trying to repair as a side project.
</p>

<details class="gallery">
  <summary class="menu">The Analog Gallery</summary>

  <br>
  <div xmlns:cc="https://creativecommons.org/ns#">
  <p class="center">
    <u>
    <em>
      All work on this page, by
      <a property="cc:attributionName"
        rel="cc:attributionURL"
        href="https://reutiman.one/">Vincent Reutiman
      </a>
      is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    </em>
    </u>
  </p>
  </div>
  <br>

  <div class="gallery">
    {% for image in gallery %}
        <div class="gallery-item">
          <a target="_blank" href="../static/media/gallery/{{image.replace(".optimized.webp", ".jpg")}}">
            <img src="../static/media/gallery/{{image}}" loading= "lazy">
          </a>
        </div>
      {% endfor %}
  </div>
</details>
<br><br>

<p>
  For digital photography I use a Canon EOS 50D along with the Canon EF 28-105mm f/3.5-4.5 USM Lens.
</p>

<details class="gallery">
  <summary class="menu">The Digital Gallery</summary>

  <br>
  <div xmlns:cc="https://creativecommons.org/ns#">
  <p class="center">
    <u>
    <em>
      All work on this page, by
      <a property="cc:attributionName"
        rel="cc:attributionURL"
        href="https://reutiman.one/">Vincent Reutiman
      </a>
      is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    </em>
    </u>
  </p>
  </div>
  <br>

  <p><em>Coming Soon...</em></p>
</details>

{% endblock %}
