{% extends 'main.html' %}

{% block list %}
<li class="crumb"><a href="/">About</a></li>
<li class="crumb"><a href="/homelab">Homelab</a></li>
<li class="crumb">Portfolio</li>
{% endblock %}

{% block body %}
<h2 class="heading">
    My Technical Experiences and Expertise
</h2>

<h3 class="heading">
    Software Development
</h3>

<p>
    Having built this website from scratch, I would say I'm decent with HTML and CSS, as well as shell scripting and Python.
    Furthermore, I'm also capable of coding in C and Java. All while using Git for version control, of course.
</p>
<br>

<h3 class="heading">
    System Administration
</h3>

<p>
    I'm very experienced with Linux, having used Arch and Debian for my daily drivers the past few years.
    Aside from that, I've also dabbled with Alpine and I know my way around ProxmoxVE, since I mainly use that for my homelab servers.
    I'm also no stranger to deploying and maintaining various kinds of software and services.
    For example, I currently host an nginx, SMTP/IMAP and Wireguard server, among many others as well.
</p>
<br>

<h3 class="heading">
    Some Other Skills of Mine
</h3>

<p>
    Although this website is entirely in English, I also fluently speak German, because of my bilingual upbringing.
    And while I may be familiar with the software side of PCs, for years I've also been building my own Computers.
    In my opinion, I'm also not too bad at handling a soldering iron either.
</p>
<br>

<p>
    The Take away: I'm a bit of a computer nerd.
</p>
<br>
<!-- Work -->

{% endblock %}
