{% extends 'main.html' %}

{% block list %}
<li class="crumb"><a href="/">About</a></li>
<li class="crumb"><a href="/blog">Blog</a></li>
<li class="crumb">Portfolio</li>
{% endblock %}

{% block body %}
<h2 class="heading">
    My Technical Experiences and Expertise
</h2>

<h3 class="heading">
    My Coding abilities
</h3>

<p>
    Since I created this website from scratch, I'm fairly literate in HTML and CSS; as well as Python since I use it for my backend with Flask.
    I also have some basic knowledge in bash scripting and Java. Aside from that, I'm also no stranger to C or C++.
</p>
<br>

<h3 class="heading">
    System Administration
</h3>

<p>
    I know my way around Nginx and uWSGI, for which my website serves as a live demo. But of course that's not all.
    In the past I have also successfully set up a recursive DNS-Server using Unbound and Pi-Hole to resolve and block DNS requests for my LAN.
    I also have a CUPS print server running to access my USB printer from any device on the LAN.
    Moreover, I set up a Postfix SMTP mail server which is used with this domain.
    And most important of all, I run a Minecraft PaperMC server for my friends!
</p>
<p>
    Each and every server and device in my possession runs entirely off of Linux, which includes my VPS and Homelab server.
    Arch Linux and Debian are specifically what I like to use.
</p>
<br>

<h3 class="heading">
    Some Other Skills of Mine
</h3>

<p>
    Although this website is entirely in English, I can also fluently speak German, because of my bilingual upbringing.
    And while I may be familiar with the software side of PCs, for years I've also been building my own Computers.
    In my opinion, I'm also not too bad at handling a soldering iron either.
</p>
<br>

<p>
    The Take away: I'm a massive Computer Nerd
</p>
<br>
<!-- Work -->

{% endblock %}
