div.contact {
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 2.5em;
    width: fit-content;
}

h3.contact {
    border-bottom: 1px solid #aaa;
    padding-bottom: 0.2em;
    width: fit-content;
    padding-right: 5.5em;
    font-size: x-large;
}

ul.contact {
    margin-left: -2em;
    font-size: large;
    list-style-type: none;
}

li.contact {
    margin-top: 0.3em;
}