details.gallery {
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    width: fit-content;
    transition: 200ms ease;
}

@media (orientation: landscape) {
  div.gallery {
    -webkit-column-count: 3;  /* Chrome, Safari, Opera */
    -moz-column-count: 3;     /* Firefox */
    column-count: 3;
    justify-content: center;
    padding-bottom: 3em;
  }
}

@media (orientation: portrait) {
  div.gallery {
    -webkit-column-count: 2;  /* Chrome, Safari, Opera */
    -moz-column-count: 2;     /* Firefox */
    column-count: 2;
    justify-content: center;
    padding-bottom: 3em;
  }
}

div.gallery-item {
  margin: 0.5em;
  margin-right: -0.5em;
  width: 20em;
  transition: 100ms ease-out;
}

div.gallery-item:hover {
  transform: scale(1.05);
}

div.gallery-item img {
  width: 100%;
  height: auto;
}
