figure.portrait{
    width: 25%;
    margin-left: 3em;
    margin-top: 3em;
    margin-bottom: 1.5em;
    min-width: 200px;
    float: left;
    transition: 100ms ease-out;
  }
  
  figure:hover {
    transform: scale(1.05);
  }
  
  figcaption.portrait {
    color: lightgray;
    font-style: italic;
    text-align: center;
  }
  
  img.portrait {
    width: 100%;
    margin-right: 3em;
  }
  
  h2.portrait {
    margin-top: 2.5em;
    border-bottom: 1px solid #aaa;
    padding-bottom: 0.2em;
    display: inline-block;
    width: fit-content;
    padding-right: 1em;
  }

  ul.home {
    overflow: auto;
    margin-left: 1.5em;
    margin-top: 2em;
    padding-bottom: 3em;
    list-style-type: square;
  }
  ul.sublist {
    list-style-type: "↳ ";
  }
