/* For whenever I actually do post something to my blog */

p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
}

P::first-line {
    margin-top: 4em;
}

h2.subheader {
    margin-left: 2em;
    border-bottom: 1px solid #aaa;
    padding-bottom: 0.2em;
    width: fit-content;
    padding-right: 1em;
    margin-bottom: 1.5em;
}